$containerMaxwidth: 1310px;

$color-black: #333333;
$color-grey: #999999;
$color-primary: #A65CF0;
$color-secondary: #FF862F;
$color-grey_light: #F6F6F6;
$color-white: #fff;
$color-grey-shade: #666666;
$color-gold: #D5B986;
$color-md-grey: #EAEAEA;
$color-primary-light: #C998FB;
$color-pink-violet:#EBD1FF;
$color-primary-shade: #7033AC;
$color-secondary-ligth: #FFBD59;
$color-secondary-shade: #BB370E;
$color-bone: #FFF5D1;
$color-green-input:#B8EC64;

$font-playfair: 'Playfair';
